.Cards {
  background-image: url("/public/images/bg1.png");
  background-size: cover;
}
.card__container {
  background: rgba(255, 255, 255, 0.3);
  padding: 100px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}
.card__items {
  display: flex;
  /* border: 2px solid red; */
  padding-top: 70px;
  gap: 1rem;
}

.card__item {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.card__item__info {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 1rem;
  gap: 0.3rem;
  box-shadow: var(--shadow);
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.card__item__img-container {
  /* max-height: 20rem; */
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card__item__info:hover {
  transform: scale(1.03);
}
.card__item__img {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: 0.3s;
}

.card__title {
  text-align: left;
  font-size: 50px;
  color: var(--skyblue);
  text-shadow: 1px 1px 2px rgba(26, 26, 26, 0.3);
  /* text-shadow: 0 0.5px 0.5px var(--gray) */
}
.card__desc {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 4px;
}

.card__item__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__item__content {
  width: 100%;
  height: 120px;
  overflow-y: auto;
  /* position: relative; */
}

.card__item__content p {
  /* width: 6rem; */
  /* position: absolute; */
  text-overflow: ellipsis;
  /* overflow: hidden;
  word-break: break-word;

  display: block; */
  /* -webkit-line-clamp: 3; */
  /* -webkit-box-orient: vertical; */
}
.card__item__content::-webkit-scrollbar {
  display: none;
}
.idSpan {
  font-size: 12px;
}

.idSpan:hover {
  font-weight: bold;
}
