.iwContent__wrap {
  width: 390px;
  height: 200px;
  padding: 20px;
  position: relative;
  overflow: auto;
  /* border-radius: 10px; */
}

.iwContent__info {
  position: absolute;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid red; */
}
.iwContent__desc {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.iwContent__title {
  background: var(--yellow);
  color: white;
  border-radius: 5px;
  padding: 2px;
  padding-left: 5px;
}

.iwContent__ellipsis,
.iwContent__link {
  font-size: 13px;
}

.iWContent__tel {
  font-size: 14px;
}

#id {
  position: relative;
}

.kmap__right-btn__container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  top: 85px;
  right: 310px;
  width: 240px;
  height: 60px;
  z-index: 100;
}

.kmap__right-btn__container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cardColor);
  border-radius: 5px;
  flex: 1;
  font-size: 13px;
  font-weight: bold;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: 0.2s;
}

.kmap__right-btn__container div:hover {
  transform: scale(1.1);
}
.kmap__weather__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 85px;
  right: 580px;
  width: 210px;
  height: 60px;
  z-index: 100;
  border-radius: 5px;
  background: var(--cardColor);
  overflow-y: auto;
}

.kmap__weather__container::-webkit-scrollbar {
  display: none;
  /* width: 8px; */
}
.kmap__weather-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kmap__weather-img-container {
  width: 40px;
  height: 40px;
}

.kmap__weather-img-container img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}
.kmap__weather {
  width: 100%;
  height: 100%;
  padding: 7px 5px;
  display: flex;
  font-size: 13px;
  gap: 1rem;
}
.kmap__weather__wrapper {
  position: relative;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
  align-items: center;
}
.kmap__left-btn__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  top: 85px;
  left: 310px;
  z-index: 100;
  height: auto;
}

.kmap__left-btn__container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cardColor);
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: var(--shadow);
  cursor: pointer;
  width: 110px;
  height: 60px;
  transition: 0.2s;
}

.kmap__left-btn__container div:hover {
  transform: scale(1.1);
}

.kmap__transportation {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.kmap__transportation div:not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.kmap__transportation span {
  font-size: 12px;
}

.kmap__transportation div:not(:first-child) .kmap__left-icon {
  font-size: 20px;
}

.slide-in-left-public_transport {
  transition: 0.5s;
  animation: slide-in-left-transport 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-left-or {
  transition: 0.5s;
  animation: slide-in-left-or 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
.slide-in-left-personal {
  transition: 0.5s;
  animation: slide-in-left-personal 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s;
}

.pickedTransport {
  transition: 0.4s;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.registerModal__typeof-container {
  display: flex;
  padding: 0 5px;
  margin: 25px 0 15px;
}

.registerModal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 5px;
  color: var(--gray);
  font-size: 14px;
  padding: 4px 0;
  cursor: pointer;
}

.fillInputMessage {
  display: flex;
  justify-content: center;
  color: red;
}

.click__threebtnToggle {
  background: var(--orange);
  color: white;
}

.registerModal__input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.registerModal__search-btn {
  background: black;
  color: white;
  padding: 8px 50px;
  margin: 20px auto 0;
  border-radius: 5px;
}

.alertBox {
  position: relative;
  z-index: 1000;
  padding: 30px 100px;
  font-size: 30px;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.alert_X {
  position: absolute;
  top: 5px;
  right: 5px;
}
.alert_X:hover {
  cursor: pointer;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-left-transport {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left-or {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left-personal {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
