:root {
  --yellow: #ffba08;
  --orange: rgb(250, 163, 7);
  --red: #d00000;
  --darkOrange: #dc2f02;
  --skyblue: #00b4d8;
  --darkblue: #118ab2;
  --gray: rgba(36, 45, 73, 0.45);
  --shadow: 1px 6px 10px rgba(26, 26, 26, 0.2);
  --lightShadow: 1px 1px 5px rgba(26, 26, 26, 0.2);
  --inputShadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  --cardColor: rgba(255, 255, 255, 0.8);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --shedule: #e1ae4a;
  --mainColor: linear-gradient(135.63deg, #ffd05a, #29c7fc 100%);
  --blueWhite: #f3f6fde4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "baseFont";
}

a {
  text-decoration: none;
  color: black;
}

li {
  text-decoration: none;
  list-style: none;
}

input {
  border: none;
  outline: none;
  background: none;
}

button {
  border: none;
  background: none;
}

select {
  border: none;
  outline: none;
  background: none;
}
hr {
  border-color: rgba(211, 211, 211, 0.3);
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 1rem;
  background-color: hsla(228, 8%, 76%, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(228, 8%, 64%, 0.7);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 54%);
}

hr {
  /* border: 1px solid var(--gray); */
  width: 99%;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("/public/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("/public/images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("/public/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@font-face {
  font-family: "baseFont";
  src: url("./font/LeferiBaseRegular.ttf");
}
