.RightRecommandSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 99vh;
  padding-top: 80px;
  /* overflow: auto; */
}

.rightRecommandSide__span__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.4);
}

.rightRecommandSide__span:hover {
  cursor: pointer;
}

.rightRecommandSide__span {
  padding: 6px 0;
}

.rightRecommandSide__searchedLocation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  gap: 5px;
}

.rightRecommandSide__searchedLocation__container::-webkit-scrollbar {
  display: none;
}

.rps__type-btn-picked {
  background: var(--orange);
  color: white;
}

.rightSideModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}

.rightSideModal_icon {
  font-size: 22px;
  margin-bottom: 10px;
}

.rightSideModal__span {
  font-size: 10px;
}

.rightSideTitle {
  margin: 5px 0;
}
.rightSideInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searched__xIcon {
  width: 100%;
  background-color: var(--blueWhite);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  border-radius: 0 0 5px 5px;
}
.searched__xIcon:hover {
  cursor: pointer;
  background-color: var(--yellow);
  color: white;
}
.searchedResult__container {
  z-index: 100;
  position: absolute;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.searchedResult {
  width: 100%;
  height: auto;
  max-height: 105px;
  overflow: auto;
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
}
.searchedOne {
  /* border: 1px solid red; */
  width: 100%;
  font-size: 18px;
  box-shadow: var(--lightShadow);
  cursor: pointer;
  transition: 0.1s;
  padding: 2px 0;
}

.searchedOne:hover {
  /* color: var(--orange); */
  box-shadow: var(--shadow);
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
