.createPlanLeft {
  display: flex;
}

.createPlanLeft__days {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 6px;
  padding: 0 3px;
  background-color: rgba(211, 211, 211, 0.3);
}

.createPlanLeft__days h5 {
  padding: 1px 5px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.wholeDays {
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  padding: 15px 5px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

.createPlanLeft__days-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.days-span {
  text-align: center;
  font-size: 15px;
  padding: 15px 10px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}
.wholeDays:hover,
.days-span:hover {
  background: rgba(0, 180, 216, 0.4);
  color: white;
}

.days-container-active:hover {
  background: var(--skyblue);
  color: color;
}

.days-container-active {
  background: var(--skyblue);
  color: white;
  transform: scale(1.05);
  box-shadow: var(--shadow);
}
.createPlanLeft__schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0 2px;
  width: 100%;
}

.createPlanLeft__schedule-title {
  width: 100%;
  padding: 5px 0;
  box-shadow: var(--shadow);
  text-align: center;
  font-weight: bold;
}

.createPlanLeft__schedule__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--lightShadow);
  background-color: rgba(211, 211, 211, 0.1);
  border-radius: 4px;
}

.createPlanLeft__schedule__content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88vh;
  overflow: auto;
  gap: 1.5rem;
  padding: 0 2px;
}

.createPlanLeft__schedule__content-container::-webkit-scrollbar {
  display: none;
}

.createPlanLeft__schedule__select {
  width: 70%;
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
}

.createPlanLeft__schedule__time {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}

.createPlanLeft__schedule__time-span {
  display: flex;
  gap: 10px;
  color: var(--orange);
  font-weight: bold;
}

.detailSetting__container {
  width: 100%;
}

.movingTime {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.movingTime__time {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.detailLocation {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 30% auto;
  padding: 4px 2px;
  border-radius: 5px;
  box-shadow: var(--lightShadow);
  gap: 3px;
}

.detailLocation__img-container {
  position: relative;
  object-fit: cover;
  margin: 0 2px;
}

.detailLocation__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.detailLocation__inform-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 3px;
}

.detailLocation__part-top {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 80% auto;
  font-size: 12px;
  /* gap: ; */
}

.detailLocation__part-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  cursor: pointer;
}
.detailLocation__part-bottom span:hover {
  color: var(--yellow);
  font-weight: bold;
  transform: scale(1.1);
}

.detailLocation__clock {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 3px;
  border-radius: 5px;
  color: white;
  align-items: center;
  justify-content: center;
}

.detailLocation__clock span {
  animation: blink-1 0.6s both;
}

.step {
  width: 100%;
  padding: 10px 5px;
}
.step__container {
  box-shadow: var(--shadow);
  border-radius: 5px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 25% auto 20%;
  padding: 5px;
}
.step__step {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  font-weight: bold;
}
.step__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 3px;
}
.step__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 5px;
}
.step__btn-atag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

.memoArea {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.memoArea__container {
  display: grid;
  grid-template-columns: 75% auto;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.memoArea__content {
  padding: 5px;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

.memoArea__textArea {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}
.memoArea__btn {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.memoArea__btn span {
  padding: 17px;
  background: var(--skyblue);
  border-radius: 50%;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.memoArea__btn span:hover {
  cursor: pointer;
  background: var(--yellow);
}
.memo_visible {
  visibility: visible;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.memoBtn {
  position: relative;
}

.memo__badge {
  top: -1px;
  right: -3px;
  color: white;
  position: absolute;
  background-color: var(--darkOrange);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.adjustMTime {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.adjustMTime__container {
  display: grid;
  grid-template-columns: 70% auto;
  width: 100%;
  height: 100%;
}
.adjustMTime__btn {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.adjustMTime__btn span {
  padding: 17px;
  background: var(--skyblue);
  border-radius: 50%;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.adjustMTime__btn span:hover {
  cursor: pointer;
  background: var(--yellow);
}

.adjustMTime__input-container {
  display: flex;
  gap: 5px;
}

.adjustMTime__input-container input {
  width: 38px;
  color: var(--orange);
  font-size: 17px;
  font-weight: bold;
}

.adjustMTime__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 5px 10px;
  width: 100%;
}

.cMap__btn-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  top: 10px;
  left: 10px;
  z-index: 999;
  height: auto;
}

.cMap__btn-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cardColor);
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: var(--shadow);
  cursor: pointer;
  width: 110px;
  height: 60px;
  transition: 0.2s;
}

.cMap__btn-container div:hover {
  transform: scale(1.2);
}

.over {
  transform: scale(1.01);
}

@keyframes fade-in-fwd {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
