@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --app-container: #f3f6fd; //뒷 배경 연하늘색
  --main-color: #1f1c2e;
  --secondary-color: #4a4a4a;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
}

.dark:root {
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255, 255, 255, 0.8);
  --projects-section: #1f2937;
  --link-color: rgba(255, 255, 255, 0.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255, 255, 255, 0.1);
  --star: #ffd92c;
  --light-font: rgba(255, 255, 255, 0.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
}

// html, body {
//   width: 100%;
//   height: 100vh;
//   margin: 0;
// }

.MyPage_con {
  // font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  display: flex;
  // justify-content: center;
  // background-color: var(--app-container);
}

button,
a {
  cursor: pointer;
}

.myProfiles {
  width: 150px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.app {
  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--app-container);
    // background: linear-gradient(160deg, white, rgba(250, 163, 7, 0.7));
    transition: 0.2s;
    border-radius: 10px;

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: "DM Sans", sans-serif;
    }
  }

  &-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 40px 24px 24px 0;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    position: relative;

    &-left,
    &-right {
      display: flex;
      align-items: center;
    }

    &-left {
      flex-grow: 1;
    }

    &-right button {
      margin-left: 10px;
    }
  }

  &-icon {
    width: 26px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      border-radius: 4px;
      background-color: var(--main-color);
      left: 50%;
      transform: translatex(-50%);
    }

    &:before {
      top: -6px;
    }
    &:after {
      bottom: -6px;
    }
  }

  &-name {
    color: var(--main-color);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
  }
}

.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrapper {
  border-radius: 20px;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;

  .dark & {
    box-shadow: none;
  }
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--main-color);

  &:placeholder {
    color: var(--main-color);
    opacity: 0.6;
  }
}

.add-btn {
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-btn {
  color: var(--main-color);
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;

  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
  }

  span {
    color: var(--main-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}

.page-content  {
  flex: 1;
  width: 100%;
}

.app-sidebar {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &-link {
    color: var(--main-color);
    color: var(--link-color);
    margin: 16px 0;
    transition: 0.2s;
    border-radius: 50%;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--link-color-hover);
      color: var(--link-color-active);
    }

    &.active {
      background-color: var(--link-color-active-bg);
      color: var(--link-color-active);
    }
  }
}
.myEdit__editBtn:hover {
  color: var(--orange);
}
.write-box-title {
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.wirte-title {
  width: 100%;
  height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  overflow: auto;
  resize: none;
  border: none;
}
.projects-section {
  position: relative;
  flex: 3;
  background-color: var(--projects-section);
  border-radius: 10px;
  // padding: 20px 25px 10px;
  width: 100%;
  overflow: hidden;
  height: 790px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: var(--shadow);

  padding: 10px;

  &-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: 32px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: var(--main-color);

    p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      opacity: 0.9;
      margin: 0;
      color: var(--main-color);
    }

    .time {
      width: 20%;
      font-size: 20px;
    }
  }
}

.projects-status {
  display: flex;
}

.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;

  &:not(:last-child) .status-type:after {
    // content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translatey(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
  }
}

.status-number {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--main-color);
}

.status-type {
  position: relative;
  padding-right: 24px;
  color: var(--secondary-color);
}

.view-actions {
  display: flex;
  align-items: center;
}

.view-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--main-color);
  margin-left: 8px;
  transition: 0.2s;

  &.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
  }

  &:not(.active):hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
  }
}

.messages-section {
  flex-shrink: 0;
  padding-bottom: 32px;
  background-color: var(--projects-section);
  margin-left: 24px;
  flex: 1;
  width: 100%;
  height: 790px;
  border-radius: 10px;
  position: relative;
  overflow: auto;
  transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  margin-top: 50px;
  // box-shadow: 1px 3px 8px rgba(250, 163, 7, 0.7);
  box-shadow: var(--shadow);
  // border: 1px solid red;
  .messages-close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    display: none;
  }

  &.show {
    transform: translateX(0);
    opacity: 1;
    margin-left: 0;
  }

  .projects-section-header {
    position: sticky;
    top: 0;
    z-index: 0;
    padding: 32px 24px 0 24px;
    background-color: var(--projects-section);
  }
}
.projects-title {
  font-size: 24px;
  font-weight: bold;
}
.projects-theme {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}
.projects-theme-item {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 0 5px;
  text-align: center;
  box-shadow: var(--lightShadow);
  transition: 0.1s;
  cursor: pointer;
}

.message-box {
  border-top: 1px solid var(--message-box-border);
  padding: 16px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  border: 1px solid blue;

  &:hover {
    background-color: var(--message-box-hover);
    border-top-color: var(--link-color-hover);

    + .message-box {
      border-top-color: var(--link-color-hover);
    }
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
  }
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--main-color);
    margin: 0;
  }
}
.chatRooms__container {
  overflow-y: auto;
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chatRooms {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
  box-shadow: var(--lightShadow);
  transition: 0.1s;
}
.chatRooms:hover {
  cursor: pointer;
  box-shadow: var(--shadow);
}
.chatRooms__profile-top {
  display: flex;
  justify-content: space-between;
  // justify-content: center;
  align-items: center;
}
.chatRooms__profile-bottom {
}
.chatRooms__profile-img-container {
  border: 1px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 2px black;
}
.chatRooms__profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black;
}
.message-content {
  padding-left: 16px;
  width: 100%;
}

.star-checkbox {
  input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  label {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .dark & {
    color: var(--secondary-color);

    input:checked + label {
      color: var(--star);
    }
  }

  input:checked + label svg {
    fill: var(--star);
    transition: 0.2s;
  }
}

.message-line {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: var(--secondary-color);
  opacity: 0.7;

  &.time {
    text-align: right;
    margin-bottom: 0;
  }
}

.project-boxes {
  // margin: 0 -8px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  margin: auto 0;
}
.bookMark {
  width: 35px;
  margin-right: 15px;
  cursor: pointer;
}
.bookSpan :hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.myInstaContainer {
  display: grid;
  gap: 2px;
  width: 100%;
  height: 656px;
}
.myInstar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  overflow: auto;
  padding: 5px;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
  // border: 1px solid red;
}
.instarBox {
  height: 225px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 2px #e9ebec, 0 0 0 1px #fcfdfe;
  transition: 0.1s;
}
.instarBox:hover {
  // transform: scale(1.01);
}
.instaImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.instaTitle__container {
  width: 100%;
  background-color: var(--blueWhite);
  padding: 3px 0;
  border-radius: 5px;
}

.instaTitle {
  text-overflow: ellipsis;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  margin-left: 3px;
}
.instarBox__container {
  border: 2px solid white;
  box-shadow: var(--shadow);
  border-radius: 5px;
  width: 100%;
  height: 320px;
  padding: 5px;
  transition: 0.1s;
}

.instarBox__container:hover {
  border: 2px solid var(--skyblue);
}
.insta__info {
  margin-top: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-left: 5px;
}
.insta__info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.insta__info-content {
  font-size: 18px;
  font-weight: bold;
  color: var(--orange);
}
.insta__info-icon {
  font-size: 20px;
  padding: 5px;
  background-color: var(--blueWhite);
  border-radius: 50%;
}

.bookContainer {
  box-shadow: var(--lightShadow);
  border: 2px solid white;
  transition: 0.1s;
}
.bookContainer:hover {
  box-shadow: var(--shadow);
  border: 2px solid var(--yellow);
  cursor: pointer;
}

.MyBoxContainer {
  // border: 1px solid #e9ebec;
  // background-color: #e9ebec;
  border-radius: 7px;
  height: 310px;
  box-shadow: var(--lightShadow);
  border: 2px solid white;
  transition: 0.1s;
  padding: 3px;
}

.MyBoxContainer:hover {
  // transform: scale(1.01);
  box-shadow: var(--shadow);
  border: 2px solid var(--yellow);
  cursor: pointer;
}
.myBox__title {
  font-size: 20px;
  font-weight: bold;
  // opacity: 0.3;
}
.MyBox {
  position: relative;
  height: 225px;
  border-radius: 10px;
  // box-shadow: 0 0 0 2px #e9ebec, 0 0 0 1px #fcfdfe;
}
.glassIcon {
  color: white;
  border-radius: 5px;
  padding: 2px 3px;
  font-size: 16px;
  background: var(--orange);
}
.shareIcon {
  // filter: drop-shadow(2px 2px 2px #000);
  // position: absolute;
  // width: 40px;
  font-size: 22px;
  margin-right: 5px;
  color: var(--skyblue);
}
.myBox__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.MyWrite-container {
  // border: solid 1px black;
  // margin: auto;
  display: grid;
  grid-template-columns: 320px 1000px;
  // grid-template-columns: 300px auto 300px;
  // grid-template-rows: 50px 400px 80px;
  // width: 100%;
  // gap: 5px;
}
.editBox__rightSide {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  width: 100%;
}
.myEditBox_btn {
  padding: 5px 7px;
  border: 2px solid var(--orange);
  border-radius: 5px;
  font-weight: bold;
  transition: 0.1s;
  text-align: center;
}

.myEditBox_btn:hover {
  // border:2px solid var(--o)
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}
.add-delete-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}
.write-box {
  &.picture {
    display: flex;
    flex-direction: column; //세로정렬
    border: none;
  }
  &.writer {
    display: flex;
    flex-direction: column;
    border: none;
    height: 300px;
    border: solid 1px rgba(128, 128, 128, 0.5);
    box-shadow: var(--shadow);
    border-radius: 5px;
  }
  &.add-delete {
    // position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    // grid-template-rows: repeat(3, 1fr);
    // grid-row: 2 / 4;
    //background-image: url("../../../public/images/no-image.jpg");
    border: solid 1px rgba(128, 128, 128, 0.5);
    padding: 4px;
    width: 100%;
    height: 250px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .previewImage {
    position: relative;
    // width: 16rem;
    height: auto;
    .test-i {
      color: var(--orange);
      position: absolute;
      top: 5px;
      right: 11px;
      cursor: pointer;
      &:hover {
        color: var(--skyblue);
      }
    }

    img {
      max-width: 20rem;
      max-height: 17rem;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      // border: 1px solid var(--orange);
    }
  }

  &.plan {
    display: flex;
    flex-direction: column;
    overflow: auto;
    grid-row: 1 / 4;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.MyPost_clock {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: auto;
  // height: 100%;
  // border: 1px solid var(--skyblue);
  box-shadow: var(--lightShadow);
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0 5px;
}
.write-back {
  background-size: cover;
  background-image: url("../../../public/images/no-image.jpg");
  background-repeat: no-repeat;
}
.plan-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-plan {
  width: 95%;
  padding: 0 3px;
  font-size: 20px;
  margin-top: 3px;
  border-radius: 5px;
  // border: 1px solid white;
  background-color: white;
  box-shadow: var(--shadow);
}
.paln-date {
  text-align: center;
  border: 2px solid var(--orange);
  font-weight: bold;
  border-radius: 5px;
  box-shadow: var(--shadow);
  font-size: 18px;
  padding: 3px 0;
  background-color: white;
}
.detail_planner_title {
  text-align: center;
  // border: 2px solid black;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: var(--shadow);
  font-size: 18px;
  padding: 3px 0;
  width: 96%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.plan-region {
  // flex: 3;
}
.myPlan-img-container {
  width: 80px;
  height: 80px;
}

.myPlan-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: var(--lightShadow);
}
.plan__over-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.plan__container {
  display: flex;
  box-shadow: var(--shadow);
  margin-top: 3px;
  width: 100%;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
}
.myPlan-container {
  // display: grid;
  // grid-template-columns: 35% auto;
  // height: 100%;
  display: flex;
  gap: 1rem;
}

.write-picture-input {
  display: none;
}
.write-picture-label {
  margin-top: 10px;
  float: right;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #ffd670;
  border-radius: 0.5rem;
  padding: 0 1em;
  color: #001d3d;
}
.write-picture-label:hover {
  // border: none;
  transition: 0.2s;
  color: white;
  background-color: #ffd670;
}

.write-up {
  font-size: 20px;
  float: right;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid #ffd670;
  border-radius: 0.5rem;
  padding: 0 1em;
  color: #001d3d;
}
.write-up:hover {
  transition: 0.2s;
  color: white;
  background-color: #ffd670;
}

.write-section {
  flex: 5;
  overflow: auto;
  resize: none;
  font-size: 20px;
  border: none;
  outline: none;

  // box-shadow: 0 0 0 2px #e9ebec, 0 0 0 11px #fcfdfe;
}
.theme-section {
  // flex: 1;
  border: 1px solid rgba(128, 128, 128, 0.5);
  overflow: auto;
  // border: none;
  font-size: 14px;
  color: #8e8e8e;
  padding: 5px 10px;
  border-radius: 5px;
  // height: 20px;
  // box-shadow: var(--shadow);
}

.box-gab {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 1rem;
}
.themesForm {
  animation: themes 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.themeLabel {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px;
  transition: 0.1s;
}
.themeLabel:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}

@keyframes themes {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.myTheme-List {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #e9ecef;
}
.myTheme-List-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 60%;
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 5px;
  animation: flip_modal_ 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.myBox-List {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #e9ecef;
}
.myBox-List-two {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #e9ecef;
}

.myBox-List-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 5px;
  animation: flip_modal_ 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.myBox-List-Plan {
  cursor: pointer;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  transition: 0.1s;
}

.myBox-List-Plan:hover {
  box-shadow: var(--shadow);
}
.myBox-List-Post {
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  transition: 0.1s;
}

.myBox-List-Post:hover {
  box-shadow: var(--shadow);
}
.myBox-List-Post-Delete {
  margin-top: 5px;
  cursor: pointer;
  color: red;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  transition: 0.1s;
}
.myBox-List-Post-Delete:hover {
  box-shadow: var(--shadow);
}

.myBox-List-Delete {
  margin-top: 5px;
  cursor: pointer;
  color: red;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  transition: 0.1s;
}

.myBox-List-Delete:hover {
  box-shadow: var(--shadow);
}
.myBox-List-Edit {
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  color: orange;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  transition: 0.1s;
}

.myBox-List-Edit:hover {
  box-shadow: var(--shadow);
}
.myBox-List-back {
  margin-top: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 0 20px;
  background-color: orange;
  border: 2px solid white;
  transition: 0.2s;
}

.myBox-List-back:hover {
  color: black;
  background-color: white;
  border: 2px solid var(--orange);
}
.theme-modal {
  position: absolute;
  display: auto;
  width: 190px;
  height: 150px;
  z-index: 100;
  top: 55%;
  left: 85%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #e9ecef;
  background-color: #ffffff;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.theme-modal-overlay {
  width: 100%;
  height: 100%;
}
.theme-modal-select {
  font-size: 20px;
  cursor: pointer;
}
.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.my-side {
  // position: absolute;
  // width: 35%;
  height: 100%;
}
.my-title-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;

  > img {
    width: 35px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
  }

  .uploadname {
    margin-top: -5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.uploadLocation {
  border-bottom: 0.1px solid #c0c0c0;
  margin-top: 10px;
  width: 100%;

  > input {
    position: relative;
    width: fit-content;
    margin-left: 10px;
    padding: 10px 10px 10px 0px;
    font-size: 18px;
  }
  > i {
    float: right;
    padding-right: 30px;
    font-size: 20px;
    margin-top: 5px;
  }
}

.project-box {
  --main-color-card: #dbf6fd;
  border-radius: 30px;
  padding: 10px;
  // background-color: var(--main-color-card);

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--main-color);

    span {
      color: #4a4a4a;
      opacity: 0.7;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &-content-header {
    text-align: center;
    margin-bottom: 16px;

    p {
      margin: 0;
    }
  }

  &-wrapper {
    padding: 8px;
    transition: 0.2s;
    width: 50%;
  }
}

.profile-project-box {
  --main-color-card: #dbf6fd;
  border-radius: 30px;
  padding: 16px;
  background-color: var(--main-color-card);

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: var(--main-color);

    span {
      color: #4a4a4a;
      opacity: 0.7;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &-content-header {
    text-align: center;
    margin-bottom: 16px;

    p {
      margin: 0;
    }
  }

  &-wrapper {
    padding: 8px;
    transition: 0.2s;
  }
}

.project-btn-more {
  padding: 0;
  height: 14px;
  width: 24px;
  height: 24px;
  position: relative;
  background-color: transparent;
  border: none;
  flex-shrink: 0;

  /*&:after, &:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: .8;
    left: 50%;
    transform: translatex(-50%);
  }
  
  &:before { top: 0;}
  &:after { bottom: 0; }*/
}

.more-wrapper {
  position: relative;
}

.box-content-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.7;
}

.profile_box-content-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.7;
  text-align: left;
  padding-left: 40%;
}
.MapImgSize {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.box-content-subheader {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
}

.box-progress {
  display: block;
  height: 4px;
  border-radius: 6px;

  &-bar {
    width: 100%;
    height: 4px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    margin: 8px 0;
  }

  &-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
  }

  &-wrapper {
  }

  &-percentage {
    text-align: right;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }
}

.project-box-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: calc(100% + 32px);
    top: 0;
    left: -16px;
    height: 1px;
  }
}

.participants {
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;

    &:not(:first-child) {
      margin-left: -8px;
    }
  }
}

.add-participant {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.days-left {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  border-radius: 20px;
  flex-shrink: 0;
  padding: 6px 16px;
  font-weight: 700;
}

.mode-switch.active .moon {
  fill: var(--main-color);
}

.messages-btn {
  border-radius: 4px 0 0 4px;
  position: absolute;
  right: 0;
  top: 58px;
  background-color: var(--message-btn);
  border: 1px solid red;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: none;
}

@media screen and (max-width: 980px) {
  .project-boxes.jsGridView .project-box-wrapper {
    width: 50%;
  }

  .status-number,
  .status-type {
    font-size: 14px;
  }

  .status-type:after {
    width: 4px;
    height: 4px;
  }

  .item-status {
    margin-right: 0;
  }
}

@media screen and (max-width: 880px) {
  .messages-section {
    transform: translateX(100%);
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;

    .messages-close {
      display: block;
    }
  }

  .messages-btn {
    display: flex;
  }
}

@media screen and (max-width: 720px) {
  .app-name,
  .profile-btn span {
    display: none;
  }

  .add-btn,
  .notification-btn,
  .mode-switch {
    width: 20px;
    height: 20px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .app-header-right button {
    margin-left: 4px;
  }
}

// @media screen and (max-width: 520px) {
//   .projects-section {
//     overflow: auto;
//   }
//   .project-boxes {
//     overflow-y: visible;
//   }

//   .app-sidebar,
//   .app-icon {
//     display: none;
//   }

//   .app-content {
//     padding: 16px 12px 24px 12px;
//   }

//   .status-number,
//   .status-type {
//     font-size: 10px;
//   }

//   .view-btn {
//     width: 24px;
//     height: 24px;
//   }

//   .app-header {
//     padding: 16px 10px;
//   }

//   .search-input {
//     max-width: 120px;
//   }

//   .project-boxes.jsGridView .project-box-wrapper {
//     width: 100%;
//   }

//   .projects-section {
//     padding: 24px 16px 0 16px;
//   }

//   .profile-btn img {
//     width: 24px;
//     height: 24px;
//   }

//   .app-header {
//     padding: 10px;
//   }

//   .projects-section-header p,
//   .projects-section-header .time {
//     font-size: 18px;
//   }

//   .status-type {
//     padding-right: 4px;

//     &:after {
//       display: none;
//     }
//   }

//   .search-input {
//     font-size: 14px;
//   }

//   .messages-btn {
//     top: 48px;
//   }

//   .box-content-header {
//     font-size: 12px;
//     line-height: 16px;
//   }

//   .box-content-subheader {
//     font-size: 12px;
//     line-height: 16px;
//   }

//   .project-boxes.jsListView .project-box-header > span {
//     font-size: 10px;
//   }

//   .box-progress-header {
//     font-size: 12px;
//   }

//   .box-progress-percentage {
//     font-size: 10px;
//   }

//   .days-left {
//     font-size: 8px;
//     padding: 6px 6px;
//     text-align: center;
//   }

//   .project-boxes.jsListView .project-box > * {
//     margin-right: 10px;
//   }

//   .project-boxes.jsListView .more-wrapper {
//     right: 2px;
//     top: 10px;
//   }
// }
.myBox__img-container {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}
@keyframes flip_modal_ {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.profile-title {
  font-size: 14px;
  font-weight: bold;
}
.myProfile__left {
  border-radius: 5px;
  box-shadow: var(--shadow);
  height: 100%;
  width: 98%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.myProfile__right {
  border-radius: 5px;
  box-shadow: var(--shadow);
  height: 100%;
  width: 98%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.profile-title-name-id {
  font-size: 14px;
  font-weight: bold;
  display: flex;
}
.myProfile__addr {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.myProfile__theme-container {
  display: grid;
  grid-template-columns: 10% auto;
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  box-shadow: var(--shadow);
}
.myProfile__zCode {
  border: 2px solid rgb(128, 128, 128);
  width: 90px;
  border-radius: 5px;
  height: 30px;
  display: flex;

  input {
    width: 90px;
    font-size: 18px;
    border-radius: 0.3em;
    padding: 3px;
  }
}
.myProfile__addrs {
  border: 2px solid rgb(128, 128, 128);
  width: 100%;
  border-radius: 5px;
  height: 30px;
  display: flex;

  input {
    width: 100%;
    font-size: 18px;
    border-radius: 0.3em;
    padding: 3px;
  }
}
.profile-title-addr {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.profile-title-theme {
  font-size: 14px;
  font-weight: bold;
  // width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
