video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.introPart-container {
  /* background: url('/public/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.introPart-container h1 {
  margin-top: 300px;
  font-size: 90px;
  color: white;
}

.introPart-container p {
  margin-top: 30px;
  font-size: 40px;
  color: var(--yellow);
}

.introPart-container button {
  margin-top: 80px;
  height: 4rem;
  padding: 0 5rem;
  font-size: 35px;
  background: transparent;
  border: 2px solid var(--skyblue);
  border-radius: 7px;
  color: white;
}

.introPart-container button:hover {
  cursor: pointer;
  background: var(--mainColor);
  transition: all 1s ease;
  border: none;
}
