.chat__profile__img-container {
  position: relative;
  border-radius: 50%;
  width: auto;
  font-size: 11px;
  /* height: 30px; */
}
.chat__profile__img {
  position: absolute;
  object-fit: fill;
  border-radius: 50%;
  width: 30px;
  right: 53px;
  bottom: -8px;
}
.chatBox {
  text-align: end;
  margin-top: 20px;
  display: flex;
  /* flex-direction: column; */
  justify-content: end;
}
.box {
  text-align: start;
  display: flex;
  justify-content: start;
}
.chatBox__span {
  background-color: var(--blueWhite);
  box-shadow: var(--lightShadow);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: pre-line;
  /* display: inline-block; */
  animation: slide_chatBotBox__span 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.chatBox__time-span {
  animation: slide_chatBotBox__span 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
