.chatBot__input-container {
  position: absolute;
  border: 2px solid grey;
  bottom: 10px;
  width: 96%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  border-radius: 5px;
}

.chatBot__input {
  width: 80%;
  font-size: 16px;
}
.chatBot__input-btn {
  padding: 3px;
  background-color: var(--skyblue);
  border-radius: 5px;
  font-size: 10px;
  margin: 1px 0;
  color: white;
  margin-right: 2px;
}
.chatBotContent {
  /* overflow-y: auto; */
  overflow-y: scroll;
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 10px 5px;
}

.chatBotBox {
  text-align: end;
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.bot {
  text-align: start;
  display: inline-block;
  flex-direction: column;
  justify-content: start;
}
.chatBotBox__span {
  background-color: var(--blueWhite);
  box-shadow: var(--lightShadow);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: pre-line;
  animation: slide_chatBotBox__span 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.chatBotContent::-webkit-scrollbar {
  width: 4px;
}
.chatBotBox__innerSpan {
  color: var(--skyblue);
  margin-top: 15px;
  background-color: var(--blueWhite);
  box-shadow: var(--lightShadow);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: pre-line;
  width: auto;
  display: inline-block;
  cursor: pointer;
  animation: slide_chatBotBox__span 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide_chatBotBox__span {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
