.joinIcon {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--orange);
  color: white;
  font-size: 17px;
}

.join__input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  gap: 1rem;
}

.join__input-wrap {
  border: 1px solid red;
  padding: 10px;
  /* display: flex; */
}

.join__input {
  border: 1px solid black;
  height: 30px;
  font-size: 15px;
}
.join__id-double-check {
  padding: 2px 3px;
  border: 1px solid green;
  font-size: 13px;
}
