.navbar__fragment {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100vh;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  padding: 20px 25px;
  box-shadow: var(--shadow);
  transition: 0.4s;
  z-index: 100;
  transform: translateY(-30px);
  animation: navFlooting 1s ease forwards;
  will-change: transform;
}

.scrollActive a,
.scrollActive button,
.scrollActive a h1 {
  color: black;
}

.scrollActive {
  background: white;
  z-index: 10;
}

.whereUrlActive {
  background: white;
  /* position: relative; */
}

.whereUrlActive a,
.whereUrlActive button,
.whereUrlActive a h1 {
  color: black;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  position: relative;
  width: 150px;
  height: 35px;
  margin-left: 2rem;
}
.logoImg {
  filter: drop-shadow(2px 2px 1px rgba(255, 255, 255, 1));
}
/* .navbar-logo img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
} */

/* .navbar-logo h1 {
  color: white;
} */

.navbar-btn-container {
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}

.navbar-btn {
  height: 2rem;
  padding: 0 2rem;
  border: 0.5px solid var(--orange);
  background-color: transparent;
  border-radius: 0.5rem;
  color: white;
  font-size: 15px;
  /* font-weight: bold; */
  cursor: pointer;
}

.navbar-btn:hover {
  background: var(--mainColor);
  color: white;
  border: none;
  transition: 0.2s;
}
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-left: 4rem;
}

.nav-menu a:hover {
  transition: 0.1s;
  border-bottom: 3px solid var(--orange);
  border-radius: 5px;
}

.nav-links {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar-menu-icon {
  display: none;
}

.userImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes navFlooting {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chatBotBtn__container {
  position: fixed;

  border-radius: 50%;
  display: flex;
  bottom: 60px;
  right: 70px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.chatBotBtn__wrap {
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: var(--orange);
  border-radius: 50%;
  transition: 0.4s;
  z-index: 3000;
}

.chatBotBtn {
  position: relative;
}
.chatBotBtn__icon {
  position: absolute;
  font-size: 30px;
  top: -6px;
  left: -8.5px;
  color: white;
  text-shadow: var(--shadow);
}
.chatBotBtn__wrap:hover {
  background-color: white;
  cursor: pointer;
}

.chatBotBtn__wrap:hover .chatBotBtn__icon {
  color: var(--orange);
}

/* response navbar - 나중에하자 */
/* @media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
} */
