.Cards_minCon {
  background-size: cover;
}
.card__container_minCon {
  padding: 80px 0;
  max-width: 1400px;
  margin: 0 auto;
}

.card__wrapper_minCon {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}
.card__items_minCon {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* border: 2px solid red; */
  margin-top: 10px;
  gap: 1rem;
}

.card__item_minCon {
  display: flex;
  flex: 1;
}

.myPage-link a:hover {
  transition: 0.1s;
  border-bottom: 3px solid var(--orange);
  border-radius: 5px;
}

.card__item__info_minCon {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 350px;
  padding: 2px;
  border-radius: 5px;
  gap: 0.3rem;
  box-shadow: var(--lightShadow);
  border: 2px solid white;
  transition: 0.1s;
}

.card__item__img-container_minCon {
  max-height: 20rem;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.card__item__bottom {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card__item__info_minCon:hover {
  transform: scale(1.03);
  border: 2px solid var(--orange);
  cursor: pointer;
}
.card__item__img_minCon {
  position: relative;
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 250px;
  max-height: 30rem;

  transition: 0.3s;
}

.card__title_minCon {
  /* text-align: left; */
  font-size: 50px;
  color: var(--skyblue);
  text-shadow: 1px 1px 2px rgba(26, 26, 26, 0.3);
  /* text-shadow: 0 0.5px 0.5px var(--gray) */
}
.card__desc_minCon {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 4px;
}

.card__item__rating_minCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idSpan_minCon {
  font-size: 12px;
  margin-left: auto;
  color: grey;
}

.idSpan:hover_mincon {
  font-weight: bold;
}

.content-btn-container {
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}
.content-btn {
  height: 2rem;
  padding: 0 0.5rem;
  border: 2px solid #d4a373;
  background-color: transparent;
  border-radius: 0.5rem;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.content-btn:hover {
  background: var(--mainColor);
  color: white;
  border: none;
  transition: 0.2s;
}

.StickySide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 99vh;
  padding-top: 80px;
  overflow: auto;
}

.fly {
  position: absolute;
  left: 50%;
  width: 100px;
  top: 100px;
  height: 500px;
  margin-left: 520px;
  background-color: red;
}

.card__top_minCon {
  display: flex;
  justify-content: space-between;
}
.search__container__minCon {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
}
.search__i__minCon {
  color: var(--orange);
  margin-right: 5px;
  font-size: 1.3rem;
}
.search__warpper__minCon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  gap: 3px;
  margin-right: 10px;
}
.search__warpper__minCon input {
  font-size: 15px;
  width: 300px;
}
