.SearchedLocation {
  width: 97%;
  height: 80px;
  transition: all 0.4s ease;
  margin-bottom: 5px;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.searchedLocation__container {
  display: flex;
  height: 80px;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.searchedLocation__container:hover {
  cursor: pointer;
}

.searchedLocation__info {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  padding: 10px 5px;
}

.searchedLocation__info__content {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.searchedLocation__info__content .searchedLocation__i:hover {
  cursor: pointer;
}

.searchedLocation__info__content .searchedLocation__i:first-child {
  color: rgba(0, 0, 0, 0.4);
}

.searchedLocation__fadeOut {
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}

.searchedLocation__img-container {
  position: relative;
  width: 30%;
  height: 100%;
  overflow: hidden;
  margin-right: auto;
  border-radius: 5px 0 0 5px;
}

.searchedLocation__img-container img {
  max-width: 100%;
  height: 100%;
  display: block;
}

.localInfo__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  height: auto;
}

.localInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 13px;
  width: 100%;
}

.localInfo-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.localInfo-btn {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 15px;
  right: 35px;
  object-fit: cover;
}

.localInfo-btn span {
  padding: 8px 25px;
  border: 2px solid var(--orange);
  border-radius: 5px;
}

.localInfo-btn span:hover {
  background: var(--mainColor);
  border: white 2px solid;
  color: white;
  cursor: pointer;
}

.localInfo__snsBtn__container {
  position: absolute;
  bottom: 15px;
  left: 340px;
}

.localInfo__snsBtn-ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.localInfo__snsBtn-ul li {
  position: relative;
  width: 30px;
  height: 30px;
}

.localInfo__snsBtn-ul li:hover {
  transform: scale(1.1);
}

.localInfo__snsBtn-ul li img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.slide-in-left-searchedLocation {
  animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.badge {
  position: absolute;
  padding: 1px;
  background: red;
  border-radius: 3px;
  font-size: 10px;
  color: white;
  font-weight: bold;
}

.localInfoModal__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  50% {
    transform: translateX(-500px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-1000px);
  }

  100% {
    transform: none;
  }
}

@keyframes slide-in-left-searchedLocation {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: none;
  }
}
