.FS_search__container{
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  /* border-radius:5px ; */
  margin-top: 5px;
}

.FS_search__container__form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FS_search__container input{
  width: 80%;
  height: 80%;
  margin-left: 10px;
font-size: 18px;
text-align: center;
}

.FS_search__container input::placeholder{
font-size: 17px;
color: rgba(0, 0, 0, 0.3);
}

.FS_search__i{
color: var(--orange);
margin-right: 10px;
font-size: 1.5rem;
}

.FS_search__i:hover{
  cursor: pointer;
}