.minCon_Cards{
    /* background-image: url('/public/images/bg1.png') ; */
    background-size: cover;
    background-color: #f8f7ff; /* forum 배경 */
    
    display: grid;
    /* grid-template-columns: auto 600px; */
    
}
.minCon_card__container{
    background:rgba(255, 255, 255, 0.3) ;
    padding: 100px;
}

.minCon_card__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.minCon_card__items{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* border: 2px solid red; */
    grid-template-columns: auto 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 1rem;
    /* align-items: center; */
}

.minCon_card__item{
    display: flex;
    flex: 1;
}

.minCon_card__item__info{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 1rem;
    gap: 0.3rem;
    box-shadow: var(--shadow);
    transition: .3s;

    /* 크기 지정 */
    width: 910px;
    height: 430px;

    margin-bottom: 200px;
}

.minContent{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 1rem;
    align-items: flex-start;
    font-size: 15px;
    color: #8e8e8e;
    
}
.content_time{
    font-size: 12.5px;
    
}

.minCon_card__item__img-container{
    /* max-height: 20rem;
    width: 100%;
    overflow: hidden; */
}

.minCon_card__item__info:hover{

    transform: scale(1.02);
}
.minCon_card__item__img{
    position: relative;
    border-radius: 0.5rem;
    object-fit: cover;
    width: 900px;
    max-height: 30rem;
    border-radius: 1rem;
    transition: .3s;
}

.min_Contents{
    width: 100%;
    height: 50px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
    /* border-radius:5px ; */
    margin-top: 5px;
}

.aasds{
    margin-top: 10px;
}

.minCon_card__title{
    font-size: 50px;
    color: black;
    text-shadow: 1px 1px 2px rgba(26, 26, 26, 0.3);;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.minCon_card__desc{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;

    padding-top: 50px;
}

.minCon_card__item__rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minCon_idSpan{
    font-size: 12px;
}

.minCon_idSpan:hover{
    font-weight: bold;
}

.minCon_content-btn-container{
    margin-right:2rem;
    display: flex;
    gap: 1rem;
}
.minCon_content-btn{
    height: 2rem;
    padding: 0 .5rem;
    border: 2px solid #d4a373;
    background-color: transparent;
    border-radius: .5rem;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.minCon_content-btn:hover{
    background:var(--mainColor);
    color: white;
    border: none;
    transition: .2s;
}



.minCon_comment {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 73%;
    height: 80px;
    margin-top: 5px;
    border-bottom: 1px solid #dbdbdb;
}

.minCon_typing-comment {
    width: 300px;
    margin-left: 10px;
    font-size: 20px;
}

.minCon_comment div{
    margin-left: auto;
}

/* .minCon_comment button {
    margin-right: 10px;
    color: #BFE0FD;
    font-size: 14px;
}

.minCon_comment button.active {
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
} */